<html>
<head>
  <title>Django Girls blog</title>
</head>
<body>
  <div>
    <h1><a href="">Django Girls Blog</a></h>
    </div>

    <div>
      <p> published: 27.05.2017, 12:00 </p>
      <h2><a href="">Mój pierwszy post</a></h2>
      <p> Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit.
</p>
    </div>

    <div>
      <p>published: 27.05.2017, 12:30</p>
      <h2><a href="">Mój drugi post</a></h2>
      <p> Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit.
</p>
</div>
</body>
</html>
